langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
pypdf
python-dotenv
pymupdf
python-docx
docx2txt
unstructured
jq
matplotlib

## Embeddings

langchain_huggingface
sentence-transformers